.header a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin-left: 25px;
    font-weight: 600;
}
.sign-out{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin-left: 25px;
    font-weight: 600;
}